<br />
<div class="row">
</div>
<hr />
<div id="app"></div>

<!-- -->
<script type="text/babel" src="/js/component/Report_breads/IndexRow.js" ></script>
<script type="text/babel">
var PAGE = <%= page %>;
//
class List extends React.Component {
    constructor(props) {
        super(props);
        this.state = {data: '', item_count:0, paginate_disp:0 }
        this.db = null
        this.change_month = this.change_month.bind(this);
        this.change_all = this.change_all.bind(this);
        this.change_week = this.change_week.bind(this);
    }
    componentDidMount(){
        console.log("PAGE:", PAGE)
        this.get_items(PAGE);
    }
    get_items(PAGE){
        axios.get("/api_report_breads/index?page=" +PAGE).then(res =>  {
            var data = res.data
            var items = data.docs
            var item_count = data.page_item.item_count
            var paginate_disp = data.page_item.paginate_disp;
console.log( items );
            var arr =[];
            this.setState({ 
                data: items ,item_count:item_count ,paginate_disp: paginate_disp
            })
        })
    }    
    tabRow(){
        if(this.state.data instanceof Array){
            return this.state.data.map(function(object, index){
//console.log(object.book[0] );
                return <IndexRow obj={object} key={index} />
            })
        }
    }
    dispPagenate(){
//console.log(this.state.paginate_disp)
        if(this.state.paginate_disp ===1){
            var url = "/bread_orders?page="
            return(
            <div className="paginate_wrap">
                <div className="btn-group" role="group" aria-label="Basic example">
                    <a href={url+ 1} className="btn btn-outline-primary"> 1st  </a>
                    <a href={url+ (PAGE+1)} className="btn btn-outline-primary"> > </a>
                </div>
            </div>
            )
        }
    }  
    change_week(){
console.log("#change_week")
        axios.get("/api_report_breads/index_week?page=1").then(res =>  {
            var data = res.data
            var items = data.docs
            var item_count = data.page_item.item_count
            var paginate_disp = data.page_item.paginate_disp;
console.log( items );
            this.setState({ 
                data: items ,item_count:item_count ,paginate_disp: paginate_disp
            })
        })
    }
    change_all(){
        this.get_items(PAGE);
    }
    change_month(){
        console.log("#change_month")
        axios.get("/api_report_breads/index_month?page=1").then(res =>  {
            var data = res.data
            var items = data.docs
            var item_count = data.page_item.item_count
            var paginate_disp = data.page_item.paginate_disp;
console.log( items );
            this.setState({ 
                data: items ,item_count:item_count ,paginate_disp: paginate_disp
            })
        })

    }  
    render(){
        return (
            <div>
                <h1>ReportBreads</h1>
                <hr className="mb-2"/>
                <div className="span_btn_wrap">
                    <button onClick={this.change_week} className="ml-2">Week</button>                
                    <button onClick={this.change_month} className="ml-2">Month</button>
                    <button onClick={this.change_all} className="ml-2">ALL</button>                
                </div>
                <table className="table table-hover mt-2">
                    <thead>
                    <tr>
                        <th>bread_orders - item</th>
                    </tr>
                    </thead>
                    <tbody>
                    {this.tabRow()}
                    </tbody>
                </table> 
                <hr />
                {this.dispPagenate()}
                <br /><br />           
            </div>
        )
    }
}
ReactDOM.render(<List />, document.getElementById('app'));
</script>

<!-- ---->
<style>
.span_btn_wrap{ text-align: center; } 
</style>