<div id="app">
    <h1>Orders add</h1>
    <hr />
    <form action="/orders/add" method="post">
        <div class="col-sm-6 form-control">
            <label>Books:</label>
            <select class="form-control" name="book_id">
                <!-- <option value="0">select please</option> -->
                <% books.forEach(function(item){ %>
                    <option value="<%= item._id %>"><%= item.name  %>
                    </option>
                <% }) %>
            </select>
        </div>
        <div class="col-sm-6 form-control">
            <label>Num :</label>
            <input type="number" name="order_num" required />
        </div>
        <hr />
        <div>
            <input type="submit" value="Save"/>
        </div>
    </form>    
</div>

